<%- include('main-components/header'); -%>
    <%- include('components/navigations/top-bar'); -%>
        <%- include('components/navigations/bottom-bar'); -%>

            <!-- Priduct details container -->
            <div class="product-details-container">
                <%- include('components/product-details/product-card'); -%>
            </div>

            <%- include('main-components/footer'); -%>