<%- include('main-components/header'); -%>
    <%- include('components/navigations/top-bar'); -%>
        <%- include('components/navigations/bottom-bar'); -%>
            <%- include('components/navigations/side-bar'); -%>
                <%- include('components/main-page/main-page-design'); -%>

                    <!-- Priduct details container -->
                    <!-- <div class="product-details-container">
                    </div> -->
                    <!-- Foot-bar-->
                    <%- include('components/navigations/foot-bar'); -%>
                        <%- include('main-components/footer'); %>